In [1]:
from openpyxl import *
from pickle import *
import math

In [2]:
raw_data = {}

In [3]:
wb = load_workbook('class_1.xlsx')

In [4]:
ws = wb.active

In [5]:
g = ws.rows

In [8]:
for k,v in g:
    raw_data[k.value] = v.value

In [9]:
raw_data

{'anna': 20,
 'elen': 25,
 'john': 25,
 'mark': 80,
 'melisa': 100,
 'steve': 95,
 'thor': 10,
 'timothy': 15,
 'yang': 50}

In [63]:
f = open('class_1.dat','rb')

In [64]:
raw_data2 = {}

In [65]:
#예외 처리 문법
try:
    data = load(f)
    while data:
        raw_data2.update(data)
        data = load(f)
except EOFError:
    pass

In [50]:
raw_data

{'anna': 20,
 'elen': 25,
 'john': 25,
 'mark': 80,
 'melisa': 100,
 'steve': 95,
 'thor': 10,
 'timothy': 15,
 'yang': 50}

In [61]:
raw_data2

{}

In [52]:
scores = list(raw_data.values())

In [53]:
scores

[25, 50, 15, 100, 10, 25, 80, 95, 20]

In [54]:
s = 0
for score in scores:
    s += score
avrg = round(s/len(scores),1)
avrg

46.7

In [55]:
s = 0
for score in scores:
   s+= (score - avrg)**2

variance = round(s/len(scores),1 )
variance

1144.4

In [56]:
std_dev = round(math.sqrt(variance),1)
std_dev

33.8

In [62]:
print(
    "평균 :{0}, 분산 : {1}, 표준 편차 : {2}".format(
    avrg, variance, std_dev))

if avrg <50 and std_dev >20:
    print("성적이 너무 저조하고 학생들의 실력 차이가 너무 크다.")
elif avrg > 50 and std_dev >20:
    print("성적은 평균이상이지만 학생들 실력 차이가 크다. 주의 요망!")
elif avrg < 50 and std_dev <20:
    print("학생들간 실력차는 나지 않으나 성적이 너무 저조하다. 주의 요망!")
elif avrg > 50 and std_dev <20:
    print("성적도 평균 이상이고 학생들의 실력차도 크지 않다.")

평균 :46.7, 분산 : 1144.4, 표준 편차 : 33.8
성적이 너무 저조하고 학생들의 실력 차이가 너무 크다.